name: release.yml

on:
  workflow_dispatch:
    inputs:
      tag:
        type: choice
        default: v1.1.6-pg
        required: false
        options:
          - v1.1.3-pg
          - v1.1.5-pg
          - v1.1.6-pg
        description: 'ref'
jobs:
  build-binaries:
    strategy:
      matrix:
        os: [windows, linux]
        arch: [amd64, arm64, 386]
        include:
          - os: windows
            arch: amd64
          - os: windows
            arch: arm64

          - os: windows
            arch: 386
          - os: windows
            arch: arm64
          - os: windows
            arch: 386
          - os: linux
            arch: amd64
          - os: linux
            arch: arm64
          - os: linux
            arch: 386
    uses: ./.github/workflows/build.yml
    with:
      os: ${{ matrix.os }}
      arch: ${{ matrix.arch }}
      tag: ${{ inputs.tag }}

  post-build-release:
    runs-on: ubuntu-latest
    needs: build-binaries
    steps:
      - name: Download a Build Artifact
        uses: actions/download-artifact@v4.3.0
        if: ${{ !env.ACT }}
        with:
          pattern: komari-*

      - name: Upload to release
        if: ${{ !env.ACT }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cmd="gh release upload ${{ inputs.tag }} "
          for entry in ./komari-*; do
            cmd="$cmd $entry/*"
          done
          cmd="$cmd --repo ${{ github.repository }} --clobber"
          $cmd
        shell: bash

#      - run: |
#        # Define the binary name for upload
#          BINARY_NAME=komari-${{ inputs.os }}-${{ inputs.arch }}
#          if [ "${{ inputs.os }}" = "windows" ]; then
#            BINARY_NAME=${BINARY_NAME}.exe
#          fi
#          # Upload the binary as a release asset using GitHub CLI
#          gh release upload ${{ inputs.tag }} $BINARY_NAME --repo ${{ github.repository }} --clobber
#        shell: bash



